<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!------ Include the above in your HEAD tag ---------->

<header class="text-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome to the website ApartmentBooking</h1>
      </div>
    </div>
  </div>
</header>
<body>
<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed" style="
              background-color: black">
                <h4 style="color: white;">
                  Admin
                  <br>

                </h4>
              </a>
            </li>
            <li><a href="../homeadmin"><span class="glyphicon glyphicon-calendar"></span> ข้อมูลผู้ใช้งาน</a></li>
            <li><a href="../apartmentdetail"><span class="glyphicon glyphicon-calendar"></span> ข้อมูลอพาร์ทเมนต์</a></li>
            <li><a href="../addrole"><span class="glyphicon glyphicon-calendar"></span> จัดการอพาร์ทเมนต์ที่รออนุมัติ</a></li>
            <li><a href="home/login/"><span class="glyphicon glyphicon-calendar"></span> ออกจากระบบ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content">
    <div class="">
      <div class="page-header">
        <h3><span class="glyphicon"></span>ข้อมูลอพาร์ทเมนต์ทั้งหมด</h3>

        <body>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ลำดับที่</th>
                <!-- <th scope="col">no</th> -->
                <th scope="col">ชื่อเจ้าของอพาร์ตเมนต์</th>
                <th scope="col">ชื่ออพาร์ตเมนต์</th>
                <th scope="col">สถานะ</th>
                <th scope="col">ข้อมูลอพาร์ทเมนต์</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listUsers; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{item.userFname}} {{item.userLname}}</td>
                <td>{{item.amName}}</td>
                <td *ngIf="item.recordStatus == 1">
                  <p style="color: green;"><i class='fas fa-history'></i> อนุมัติเรียบร้อย</p>
                 </td>
                 <td *ngIf="item.recordStatus == 2">
                  <p style="color: red;"><i class='far fa-check-square'></i> รอตรวจสอบ</p>
                 </td>
                 
                  <td>
                    <button  type="button" class="btn btn-primary" (click)="onEdit(item)"><i class="bi bi-book"></i> ดูข้อมูล</button>
                    &nbsp;
                    <button type="button" class="btn btn-info" style="background-color: red;" (click)="onDelete(item)" ><i class="bi bi-book"></i> ลบข้อมูล</button>
                  </td>
              <!-- </tr> -->
            </tbody>
          </table>
        </body>
      </div>
    </div>
  </div>
  
</div>
</body>