<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<!------ Include the above in your HEAD tag ---------->

<header class="text-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome to the website ApartmentBooking</h1>
      </div>
    </div>
  </div>
</header>
<div class="row affix-row" style="background-color: cadetblue">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed" style="
              background-color: #004d39">
                <h4 style="color: aliceblue">
                  Menu Apartment
                  <br>

                </h4>
              </a>
            </li>
            <li><a href="../apartment-home"><span class="glyphicon glyphicon-calendar"></span> โปรไฟล์</a></li>
            <li><a href="../showapartment"><span class="glyphicon glyphicon-calendar"></span> จัดการ Apartment</a></li>
            <li><a href="../allboonking"><span class="glyphicon glyphicon-lock"></span> รายการจอง</a></li>
            <!-- <li><a href="../reviewapartment"><span class="glyphicon glyphicon-star"></span> ดูรีวิว</a></li> -->
            <li><a href="../banks"><span class="glyphicon glyphicon-cog"></span> ข้อมูลธนาคาร</a></li>
            <li><a href="home/login/"><span class="glyphicon glyphicon-calendar"></span> ออกจากระบบ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content" style="background-color: cadetblue">
    <div>

      <div class="page-header" style="background-color: rgb(31, 82, 83);">
        <h3 style="color: rgb(255, 255, 255);"><span class="glyphicon"
            style="margin-top: 2%; margin-left: 2%;"></span>รายการจอง</h3>

        <body>

          <div class="page-header">
            <div class="container">
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">ชื่อผู้จอง</th>
                      <th scope="col">CheckIn - CheckOut</th>
                      <th scope="col">รูปแบบเตียง</th>
                      <th scope="col">จำนวนห้อง</th>
                      <th scope="col">เบอร์โทรศัทพ์</th>
                      <th scope="col">Action</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of apartmentList; let i = index" >
                      <td >{{i +1}}</td>
                      <td>{{item.userDetailDto.userFname + "" + item.userDetailDto.userLname}}</td>
                      <td>{{item.checkIn + "" + item.checkOut}}</td>
                      <td>{{item.bedType}}</td>
                      <td>{{item.amNumber}}</td>
                      <td>{{item.userDetailDto.phone}}</td>
                      <td *ngIf="item.recordStatus == 1">
                       <button type="button" class="btn btn-primary" (click)="onPopup(item)" data-bs-toggle="modal" data-bs-target="#myModal"><i class='fas fa-search-plus'></i> ตรวจสอบ</button>
                      </td>
                      <td *ngIf="item.recordStatus == 2">
                       <p style="color: green;">อนุมัติเรียบร้อย</p>
                      </td>
                      <td *ngIf="item.recordStatus == 3">
                       <p style="color: red;">ยกเลิกรายการ</p>
                      </td>
                    </tr>
                  </tbody>
                
                </table>
              </div>
            </div>
          </div>
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">ตรวจสอบ</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <p>ราคาที่ต้องชำระ :: {{ null != apartmentDt ? apartmentDt.payAmount : ''}}</p>
                   <img width=420 height=360  [src]="slipUrl" alt="">
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onSave(apartmentDt)">อนุมัติ</button>
                <button type="button" class="btn btn-warning" (click)="onCancel(apartmentDt)">ยกเลิก</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
          <footer class="bg-light">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center">
                  <p class="text-muted">&copy; ApartmentBooking. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </footer>
        </body>
      </div>
    </div>
  </div>
</div>