<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!------ Include the above in your HEAD tag ---------->

<header class="text-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome to the website ApartmentBooking</h1>
      </div>
    </div>
  </div>
</header>
<body>
<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed" style="
              background-color: black">
                <h4 style="color: white;">
                  Admin
                  <br>

                </h4>
              </a>
            </li>
            <li><a href="../homeadmin"><span class="glyphicon glyphicon-calendar"></span> ข้อมูลผู้ใช้งาน</a></li>
            <li><a href="../apartmentdetail"><span class="glyphicon glyphicon-calendar"></span> ข้อมูลอพาร์ทเมนต์</a></li>
            <li><a href="../addrole"><span class="glyphicon glyphicon-calendar"></span> จัดการอพาร์ทเมนต์ที่รออนุมัติ</a></li>
            <li><a href="home/login/"><span class="glyphicon glyphicon-calendar"></span> ออกจากระบบ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10 affix-content">
    <div class="">

      <div class="page-header">
        <h3><span class="glyphicon"></span>ข้อมูลผู้ใช้งานทั้งหมด</h3>

        <body>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ลำดับที่</th>
                <!-- <th scope="col">UserId</th> -->
                <th scope="col">ชื่อ - นามสกุล</th>
                <th scope="col">เบอร์โทรศัทพ์</th>
                <th scope="col">Email</th>
                <th scope="col">ข้อมูลสมาชิก</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listUsers; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <!-- <td>{{ item.userId }}</td> -->
                <td>{{ item.userFname }} {{ item.userLname }}</td>
                <td>{{item.phone}}</td>
                <td>{{ item.email }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="onEdit(item)"><i class="bi bi-book"></i> ดูข้อมูล</button>
                  &nbsp;
                  <button type="button" class="btn btn-info" style="background-color: red;" (click)="onDelete(item)"><i class="bi bi-book"></i> ลบข้อมูล</button>
                </td>
              </tr>
            </tbody>
          </table>
          <footer class="bg-light">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center">
                  <p class="text-muted">&copy; ApartmentBooking. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </footer>
        </body>
      </div>
    </div>
  </div>
</div>
</body>