<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="user/home" class="navbar-brand text-light"><i class='fas fa-door-open'></i> ApartmentBooking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="user/home" class="nav-link active text-light"><i class="bi bi-house-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-info text-light" id="dropdownBasic1"
              style="background-color: rgb(0, 153, 255)" ngbDropdownToggle> <i class="bi bi-person-circle"></i>
              User
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="../profilepages">
                <i style="line-height: 1.6em"></i><i class="bi bi-person-fill"></i> บัญชีของฉัน
              </button>
              <button ngbDropdownItem routerLink="../bookingschedulepages">
                <i style="line-height: 1.6em"></i><i class="bi bi-calendar-check-fill"></i> การจองของฉัน
              </button>
              <a ngbDropdownItem href="home/login"><i class="bi bi-box-arrow-left"></i> ออกจากระบบ</a>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>

<body>
  <div class="container">
    <div class="content-center row">
      <div class="container ct1">
        <div class="row">
          <div class="user-menu d-none d-lg-block px-0 px-lg-3 col-lg-3">
            <div class="list-group" role="tablist">
              <button id="menu-user-booking" role="tab" class="list-group-item list-group-item-action"
                routerLink="../profilepages">
                <i class="icon-doc-text-inv"></i>ข้อมูลส่วนตัว</button>
              <button id="menu-user-social-networks" role="tab" class="list-group-item list-group-item-action"
                routerLink="../profile-safetys">
                <i class="icon-bell"></i>ความปลอดภัย</button>
            </div>
          </div>
          <div class="card px-0 py-0 px-lg-3 py-lg-0 col-lg-9">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                  <form role="form f1" [formGroup]="userprofileForm">
                    <br>
                    <h2>ข้อมูลส่วนตัว</h2>
                    <hr class="colorgraph">
                    
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="text" formControlName="userFname" class="form-control input-lg"
                            placeholder="ชื่อ" tabindex="1" readonly/>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="text" formControlName="userLname" class="form-control input-lg"
                            placeholder="นามสกุล" tabindex="2" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input formControlName="email" type="text" name="#" id="#" class="form-control input-lg"
                        placeholder="Email" tabindex="4" readonly/>
                    </div>
                    <div class="form-group">
                      <textarea formControlName="address" type="text" name="#" id="#" class="form-control input-lg"
                        placeholder="ที่อยู่" tabindex="3" readonly></textarea>
                    </div>
                    <div class="form-group">
                      <input formControlName="phone" type="text" name="#" id="#" class="form-control input-lg"
                        placeholder="หมายเลขโทรศัพท์" tabindex="4" readonly/>
                    </div>
                    <div class="form-group">
                      <input formControlName="userBirthday" type="text" name="#" id="#" class="form-control input-lg"
                        placeholder="วันเกิด" tabindex="4" readonly/>
                    </div>
                    <div class="form-group">
                      <input formControlName="userGender" type="text" name="#" id="#" class="form-control input-lg"
                        placeholder="เพศ" tabindex="4" readonly/>
                    </div>
                    
                    <hr class="colorgraph">
                    <div class="row">
                      <div routerLink="../edpro" class="col-xs-12 col-md-6"><input type="submit" value="แก้ไขข้อมูล"
                          class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    </div>
                    <br>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="text-muted">&copy; ApartmentBooking. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>